body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(to top, white, rgb(68, 67, 67));
    /* Estándar */
    background: -webkit-linear-gradient(to top, white, rgb(68, 67, 67));
    /* Safari 5.1-6, Chrome 10-25 */
    background: -o-linear-gradient(top, white, rgb(68, 67, 67));
    /* Opera 11.1-12 */
}

.transparente{
    /* background-color: rgba(53, 39, 20, 0.2); */
    background-color: rgba(0, 0, 0, 0.37);
}

main {
    flex: 1 0 auto;
}

.cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
    display: none;
}

.cmn-btncircle {
    width: 40px !important;
    height: 40px !important;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}